.row {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.largeImage {
    max-width: 70%;
    max-height: 70%;
}

.largeImage:hover {
    cursor: pointer;
}

.column {
    text-align:center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 5%;
}
