.centerContainer {
    margin: 2%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.formGroupContainer {
    display: flex;
    flex-direction: column;
}
